<div class="container" *ngIf="group">
    <h2>Channels in {{ group.name }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Channel Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let channel of group.channels">
                <td>{{ channel.name }}</td>
                <td>
                    <button *ngIf="canGoToChannel(currentUserId!)" class="btn btn-primary" (click)="navigateToChannel(channel._id)">Go</button>
                    <button class="btn btn-danger" 
                            (click)="deleteChannel(channel._id)"
                            *ngIf="isAdmin || isMod">
                        Delete
                    </button>
                </td>
            </tr>
            <!-- New Row for creating channel -->
            <tr *ngIf="isAdmin || isMod">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="newChannelName" placeholder="Enter new channel name">
                </td>
                <td>
                    <button class="btn btn-primary" (click)="createChannelInline()">Create a new channel</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" *ngIf="group">
    <!-- Display Member List -->
    <div *ngIf="members.length > 0">
        <h2>Members:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let member of members">
                    <tr>
                        <td>{{ member._id }}</td>
                        <td>{{ member.username }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ getMemberRole(member) }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeUser(member._id)">Remove</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

</div>


