<!-- requests.component.html -->
<table class="table table-bordered">
    <thead>
        <tr>
          <th colspan="3" class="text-center">User's Info</th>
          <th colspan="3" class="text-center">Request's Info</th>
          <th class="text-center">Action</th>
        </tr>
        <tr>
          <th class="text-center">User ID</th>
          <th class="text-center">Username</th>
          <th class="text-center">Email</th>
          <th class="text-center">Group ID</th>
          <th class="text-center">Group Name</th>
          <th class="text-center">Timestamp</th>
          <th class="text-center"></th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let request of joinRequests">
        <td>{{request.user._id}}</td>
        <td>{{request.user.username}}</td>
        <td>{{request.user.email}}</td>
        <td>{{request.group._id}}</td>
        <td>{{request.group.name}}</td>
        <td>{{request.createdAt | date:'medium'}}</td> <!-- adjust date format as needed -->
        <td>
          <button (click)="approveRequest(request._id)">Approve</button>
          <button (click)="declineRequest(request._id)">Decline</button>
        </td>
      </tr>
    </tbody>
  </table>
  