<div class="container" *ngIf="isLoggedIn; else pleaseLogin">
  <!-- Display message if exists -->
  <div *ngIf="message" class="alert alert-info">
    {{ message }}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterate over the groups and display each one -->
      <tr *ngFor="let group of groups">
        <td>{{ group.name }}</td>
        <td>
          <!-- Show join or view button based on the group's status -->
          <button *ngIf="!group.members.includes(currentUserId)" class="btn btn-primary" (click)="requestToJoinGroup(group._id)">Request to Join</button>
          <button *ngIf="group.members.includes(currentUserId)" class="btn btn-success mr-2" (click)="navigateToGroupChannels(group._id)">View</button>

          <!-- Show delete button if user is admin or if user is a mod and in the mods list of the group -->
          <button *ngIf="shouldShowDeleteButton(group)" class="btn btn-danger" (click)="deleteGroup(group._id)">Delete</button>
        </td>
      </tr>
      <!-- Input for creating a new group -->
      <tr *ngIf="isAdminOrMod">
        <td>
          <input type="text" class="form-control" [(ngModel)]="newGroupName" placeholder="Enter new group name">
        </td>
        <td>
          <button class="btn btn-primary" (click)="createGroupInline()">Create a new group</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Message for users who are not logged in -->
<ng-template #pleaseLogin>
  <div class="alert alert-warning mt-3">
    Please log in or register first.
  </div>
</ng-template>
